/**Padding**/
$pad:5px;
$marg:5px;

/******color variables*****/
$white:#ffffff;
$black:#000000;
$lightGray:#f5f5f6;
$blue:#2a76a3;
$lightBlue:#d2e2ec;
$darkBlue:#005382;
$orange:#ffac2c;
$red:#ef2c18;
$green:#49a668;


$xsm-device: 375px;
$sm-device: 400px;
$smplus-device: 550px;
$md-device: 600px;
$mdplus-device: 768px;
$lg-device: 1024px;

//fonts
$mainFont: 'Roboto', sans-serif;
$secondFont: 'Roboto Condensed', sans-serif;
$fontAwesome: 'FontAwesome';

$imgPath: "../img/";