.pagination-w{
	margin:30px 0;
	li{
		display:inline-block;
		line-height: 30px;
		margin: 0 3px;
		&:first-child{
			margin-left:0!important;
		}
		&.first,
		&.last{
			display:none;
		}
		@media (min-width:$mdplus-device){
			&.first,
			&.last{
				display:inline-block;
			}	
		}
		a {
			display:block;
			@include border-radius(4px);
			border:1px solid $blue;
			color:$black;
			background:#fff;
			font-size:18px;
			text-decoration:none;
			width:30px;
			text-align:center;
			&:hover{
				background-color:$blue;
				color:$white;
			}
		}
		&.active{
			a{
				background-color:$blue;
				color:$white;
			}
		}
		&.link a{
			background-color:none;
			font-size:14px!important;
			margin:0 5px;
			@include border-radius(0px);
			width:auto;
			color:$blue;
			border:none;
			text-decoration:underline;
			&:hover{
				background:none;
				text-decoration:none;
			}
		}
	}
}
