.our_speakers{
    background-color:$lightGray;
    overflow:hidden;
    width:100%;
    text-align:center;

    .speakers_header{
        position: relative;
        display:block;
        text-align:center;
        font-size:22px;
        font-weight:bold;
        margin:25px 0;
        padding:15px 0;
        &::before{
            content: " ";
            background-image:  url("../img/images/speackers_logo.png");
            background-repeat: no-repeat;
            background-position: center center;
            width:53px;
            height:53px;
            position:absolute;
            margin-left:-40px;
            margin-top: -13px;
            background-size: 20px 20px;
        }
        @media (min-width:$mdplus-device){
            &::before{
                margin-left:-60px;
                margin-top: -2px;
                background-size: auto auto;
            }
            font-size:36px;
        }

    }
    .single_speaker{
        @include span(6);
        @media (min-width:$mdplus-device){
            @include span(3);
        }
    }
        .btn{
        margin:15px 0;
        @media (min-width:$mdplus-device){
            margin:40px 0;
        }
    }
}